<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<h2>User Registration :</h2>
<br>
<form action="registerUser" method="post">
    First Name : <input type="text" name="firstName"/><br><br>
    Last Name : <input type="text" name="lastName"/><br><br>
    User Name : <input type="email" name="email"/><br><br>
    Password : <input type="password" name="password"/><br><br>
    Confirm Password : <input type="password" name="confirmPassword"/><br>
    <br>
    <input type="submit" value="Register"/>
</form>
</body>
</html>